<?xml version="1.0"?>
<configuration>
	<location path="ExemploREST">
		<system.webServer>
			<dataflexHttpModule application="4dev" enabled="true" object="oExemploREST" verbs="GET,POST,PATCH,DELETE" errortype="0"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="HelloWorld">
		<system.webServer>
			<dataflexHttpModule application="4dev" enabled="true" object="oHttpHandler" verbs="GET" errortype="0"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="DfResource">
		<system.webServer>
			<dataflexHttpModule application="4dev" enabled="true" object="oWebResourceManagerProxy" verbs="GET,POST" errortype="0"></dataflexHttpModule>
		</system.webServer>
	</location>
</configuration>
